<div class="panel panel-primary">
    <div class="panel-heading">Sign Up</div>
    <div class="panel-body">
        <%= simple_form_for @signup, url: auth_signup_path do |f| %>
            <%= f.input :firstname %>
            <%= f.input :lastname %>
            <%= f.input :email, as: :email %>
            <%= f.input :login, required: true, error: false, hint: "Must have at least 5 characters"%>
            <%= f.input :password, as: :password, required: true, error: false, 
                hint: "Must have at least 6 characters, one number and one special character" %>
            <%= f.input :password_confirmation, as: :password, error: "Passwords did not match." %>
            <%= f.button :submit, "Sign Up", class: "btn-primary" %>
        <% end %>
    </div>
</div>
